<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\ComingUp\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\Coming UP\Coming Up folder\Coming Up.aep"/>
    <add key="DataTxtPath" value="C:\aftereffect\programacion.txt"/>
    <add key="RenderIntervalMin" value="12:20#12:21"/>
    <add key="Composition" value="Weather 2"/>
    <add key="OutPutFileName" value="ComingUp"/>
    <add key="TimeOffsetMin" value="-10"/>
    <add key="TitleLenght" value="40"/>
    <add key="ScheduleService" value="http://www.presstv.com/callback/fullscheduleHispanByNo/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
